@tailwind base;
@tailwind components;
@tailwind utilities;

th, td {
    padding-left: 4px;
    padding-right: 4px;
}

button, input {
    border: #CCCCCC solid 1px;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
}


